[submodule "wrapper/javascript"]
	path = wrapper/javascript
	url = https://github.com/Totto16/oopetris_wrapper_js.git
[submodule "wrapper/c"]
	path = wrapper/c
	url = https://github.com/Totto16/oopetris_wrapper_c.git
[submodule "wrapper/haskell"]
	path = wrapper/haskell
	url = https://github.com/Totto16/oopetris_wrapper_haskell.git
[submodule "wrapper/python"]
	path = wrapper/python
	url = https://github.com/Totto16/oopetris_wrapper_python.git
